* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: #ffd7ab;
    font-family: 'Quicksand', Arial, sans-serif;
    color: #46220f;
    margin: 0;
}

.cabecalho {
    background-color: #fcead7;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
    border-bottom: 2px solid #dba97c;
    border-radius: 50px;
    width: 70%;
    /* centralização horizontal */
    margin-left: auto;
    margin-right: auto;
}

.banner-texto {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.banner-texto p {
    display: inline-block;
    padding-left: 100%;
    animation: slide 10s linear infinite;
    color: #8b4513;
    font-style: italic;
}

.menu-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.nav1, .nav2, .nav3 {
    margin: 0 15px; 
    color: #ffffff; 
    background-color: #9a5833; 
    padding: 8px 12px; 
    border-radius: 10px; 
    text-decoration: none;
}

.nav1:hover,
.nav2:hover,
.nav3:hover {
    background-color: #7a3f24;
    transition: 0.3s;
}

.conteudo-principal {
    padding: 20px;
    text-align: left;
    line-height: 1.5; 
    margin: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap; /* permite que os itens quebrem para nova linha */
}

.secao-conteudo {
    flex: 1 1 60%;
  }

p {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2px;

}
/* Tabela */
table {
    margin: 20px auto; /* Margem superior de 20px e centralização automática */
    width: 70%;
    text-align: left;
    font-size: 16px;
    background-color: #fec88d;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

caption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
}

thead {
    background-color: #e3a35e;
    color: #46220f;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #d68e52;
}

tbody tr:hover {
    background-color: #f8b979;
}

/* Footer */
footer {
    background-color: darkgrey;
    font-size: 14px;
    color: white;
    margin-top: 40px;
    text-align: center;
    padding: 10px;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .conteudo-principal {
      flex-direction: column;
    }

    .secao-conteudo {
        order: 1;
      }
  
    .sobre-mim {
      order: 2; /* garante que vai para o fim */
    }   
  }

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
