* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: #ffd7ab;
    font-family: 'Quicksand', Arial, sans-serif;
    color: #46220f;
    margin: 0;
}

.cabecalho {
    background-color: #fcead7;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
    border-bottom: 2px solid #dba97c;
    border-radius: 50px;
    width: 70%;
    /* centralização horizontal */
    margin-left: auto;
    margin-right: auto;
}

.banner-texto {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.banner-texto p {
    display: inline-block;
    padding-left: 100%;
    animation: slide 10s linear infinite;
    color: #8b4513;
    font-style: italic;
}

.menu-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.nav1, .nav2, .nav3 {
    margin: 0 15px; 
    color: #ffffff; 
    background-color: #9a5833; 
    padding: 8px 12px; 
    border-radius: 10px; 
    text-decoration: none;
}

.nav1:hover,
.nav2:hover,
.nav3:hover {
    background-color: #7a3f24;
    transition: 0.3s;
}

.conteudo-principal {
    padding: 20px;
    text-align: left;
    line-height: 1.5; 
    margin: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap; /* permite que os itens quebrem para nova linha */
}

.secao-conteudo {
    flex: 1 1 60%;
  }

p {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2px;

}
a#compra:link{
    color: darkred;
}

a#compra:hover {
    color: blue;    
}

a#compra:active {
    color: rgb(28, 107, 12);
}

.lista-ul,
.lista-ol,
.video-meu,
.video-youtube {
  margin-bottom: 40px; /* aumenta ou diminui conforme preferires */
}

ul li, ol li {
    margin-bottom: 8px;
}

.sobre-mim {
    right: 10px;
    top: 0;
    width: 40%;
    height: auto; 
    background-color: #cd966c;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    flex: 1 1 30%;
    padding: 20px;
    border-radius: 12px; 

}

.video-meu video,
.video-youtube iframe {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

footer {
    background-color: darkgrey; 
    font-size: 14px; 
    color: white; 
    margin-top: 40px; 
    text-align: center; 
    padding: 10px;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .conteudo-principal {
      flex-direction: column;
    }

    .secao-conteudo {
        order: 1;
      }
  
    .sobre-mim {
      order: 2; /* garante que vai para o fim */
    }   
  }

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}


