* { margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body { 
    background-color: #ffd7ab;
    font-family: Arial;
    color: #46220f;
    margin: 0;
}

.header-topo {
    background-color: #fcead7;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
    border-bottom: 2px solid #dba97c;
    border-radius: 50px;
    width: 70%;
    /* centralização horizontal */
    margin-left: auto;
    margin-right: auto;
}

.menu-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.nav1, .nav2, .nav3 {
    margin: 0 15px; 
    color: #ffffff; 
    background-color: #9a5833; 
    padding: 8px 12px; 
    border-radius: 10px; 
    text-decoration: none;
}

.conteudo-principal {
    padding: 20px;
    text-align: left;
    line-height: 1.5; 
    margin: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap; /* permite que os itens quebrem para nova linha */
}

.secao-conteudo {
    flex: 1 1 60%;
  }

p {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2px;

}
a#compra:link{
    color: darkred;
}

a#compra:hover {
    color: blue;    
}

a#compra:active {
    color: rgb(28, 107, 12);
}

.lista-ul,
.lista-ol,
.video-meu,
.video-youtube {
  margin-bottom: 40px; /* aumenta ou diminui conforme preferires */
}

ul, ol {
    font-size: 16px;
}

.sobre-mim {
    position: absolute;
    right: 10px;
    top: 0;
    margin-top: 230px;
    width: 250px;
    height: auto; 
    background-color: #cd966c;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    flex: 1 1 30%;
    padding: 20px;
    border-radius: 12px;   

}

/* Responsividade */
@media screen and (max-width: 768px) {
    .conteudo-principal {
      flex-direction: column;
    }
  
    .sobre-mim {
      order: 2; /* garante que vai para o fim */
    }
  
    .secao-conteudo {
      order: 1;
    }
  }
footer {
    background-color: darkgrey; 
    font-size: 14px; 
    color: white; 
    margin-top: 40px; 
    text-align: center; 
    padding: 10px;
}
